@model ITSupport.Core.ViewModels.UserViewModel
@using System.Web;

@{
    ViewBag.Title = "Create";
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!----- Form ---->
        <div class="mainDiv">
            <!----- Form ---->
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h1> Add New User</h1>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "errorMsg" })
                <div class="text-danger" style="color:red">
                    @ViewBag.Message
                </div>
                <div class="formSection">
                    <div class="inputBox">
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Enter Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "errorMsg" })
                    </div>
                    <div class="inputBox selectBox">
                        @Html.LabelFor(model => model.RoleId)

                        @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.dropDowns, "Id", "Name"), "SelectRole", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "errorMsg" })


                    </div>
                    <div class="inputBox">
                        @Html.LabelFor(model => model.Email)

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Enter Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMsg" })


                    </div>
                    <div class="inputBox">
                        @Html.LabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Enter Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "errorMsg" })

                    </div>
                    <div class="inputBox">
                        @Html.LabelFor(model => model.UserName)

                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @placeholder = "Enter UserName" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "errorMsg" })

                    </div>

                    <div class="inputBox">
                        @Html.LabelFor(model => model.MobileNumber)
                        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @placeholder = "0" } })
                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "errorMsg" })

                    </div>

                    <div class="inputBox">
                        @Html.LabelFor(model => model.Gender)
                        <div class="radioBtnSection">
                            <div class="radioBtnDiv">
                                Female @Html.RadioButtonFor(model => model.Gender, "Female")
                                <span class="checkmark"></span>
                            </div>
                            <div class="radioBtnDiv">
                                Male @Html.RadioButtonFor(model => model.Gender, "Male")
                                <span class="checkmark"></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "errorMsg" })
                        </div>
                    </div>
                </div>
                <div class="inputBox">
                    @*<button type="submit" class="btnDiv">Create</button>*@
                    <button class="btnDiv">Create</button>
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index", "Admin")
                </div>
            </div>

        </div>
        <!----- END Form ---->
    }
    </body>
</html>