@model ITSupport.Core.ViewModels.UserViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="section">
    <div class="container">
        <!----- Form ---->
        <div class="formDiv">
            <div class="topTitleHead pb20">
                <h1>Are you sure you want to delete this?</h1>
            </div>
            <div class="form-control">
                <div class="inputBox" style="display:block">
                    @Html.DisplayNameFor(model => model.Name)
                    <h4 Style = "color: mediumvioletred; display: inline; font-family:Arial; font-style: normal ">
                        @Html.DisplayFor(model => model.Name)
                    </h4>
                </div>
                <div class="inputBox">
                    @Html.DisplayNameFor(model => model.Email)
                    <h4 Style="color: mediumvioletred; display: inline; font-family:Arial; font-style: normal ">
                        @Html.DisplayFor(model => model.Email)
                    </h4>
                </div>
                <div class="inputBox" style="display:block">
                    @Html.DisplayNameFor(model => model.UserName)
                    <h4 Style="color: mediumvioletred; display: inline; font-family:Arial; font-style: normal ">
                        @Html.DisplayFor(model => model.UserName)
                    </h4>
                </div>
                <div class="inputBox" style="display:block">
                    @Html.DisplayNameFor(model => model.MobileNumber)
                    <h4 Style="color: mediumvioletred; display: inline; font-family:Arial; font-style: normal">
                        @Html.DisplayFor(model => model.MobileNumber)
                    </h4>
                </div>
                <div class="inputBox" style="display:block">
                    @Html.DisplayNameFor(model => model.RoleName)
                    <h4 Style="color: mediumvioletred; display: inline; font-family:Arial; font-style: normal">
                        @Html.DisplayFor(model => model.RoleName)
                    </h4>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="btn">
                    <input type="submit" value="Delete" class="btnDiv" /> | @Html.ActionLink("Back to List", "Index", new { @class="btn btn-default"})
                </div>
            }
        </div>
    </div>
</div>



