@model ITSupport.Core.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Delete";
}
<div class="section">
    <div class="container">
        <!----- Form ---->
        <div class="formDiv">
            <div class="topTitleHead pb20">
                <h1>Are you sure you want to delete this?</h1>
            </div>
            <div>
                <div class="inputBox" style="display:block">
                    <b>@Html.DisplayNameFor(model => model.Name)</b>
                    <h4 Style="color: mediumvioletred; display: inline; font-family:Arial; font-style: normal ">
                        @Html.DisplayFor(model => model.Name)
                    </h4>
                </div>
                <div class="inputBox" style="display:block">
                    <b>@Html.DisplayNameFor(model => model.Code)</b>
                    <h4 Style="color: mediumvioletred; display: inline; font-family:Arial; font-style: normal ">
                        @Html.DisplayFor(model => model.Code)
                    </h4>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="btn">
                    <input type="submit" value="Delete" class="btnDiv" />
                </div>
            }
        </div>
    </div>
</div>

<button id="backToList">Back to List</button>

<script>
    $(document).ready(function () {
        $('#backToList').click(function () {
            history.back();
        });
    });
</script>